@import url(//fonts.googleapis.com/css?family=Roboto);

body {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#results {
  padding: 20px 50px 1em 50px;

  font-size: 3em;
}
#finalized-text {
  color: white;
}
#interm-text {
  color: hsl(0, 0%, 70%);
}
#buffer {
  margin: 0px 0px 3em 0px;
  padding: 0;

  height: 30vh;
}
